# Set default behavior
* text=auto

# Ignored files for export
[Dd]esktop.ini  export-ignore
*.git*          export-ignore
/.github/       export-ignore

# Files always having CRLF line endings
*.php text eol=crlf

# Truly binary files
*.png binary
