# Set default behavior
* text=auto

# Ignore export OS and IDE settings
.buildpath  export-ignore
.project    export-ignore
desktop.ini export-ignore

# Specific VCS behaviour
*.git* text export-ignore

# Files always having CRLF line endings
*.php text eol=crlf

# Truly binary files
*.png binary
