# Set default behavior
* text=auto

# Ignored files for export
.editorconfig   export-ignore
.git*           export-ignore
/.github/       export-ignore
/.vscode/       export-ignore
[Dd]esktop.ini  export-ignore

# Files always having CRLF line endings
*.php text      eol=crlf
